# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Inicio\POLI JIC\2021 1\PRUEBAS Y GESTION DE LA CONFIGURACION\DESPUES DEL PARO\TestProyectCreate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
